*{
    margin: 0;
    padding: 0;
}

/*--------------------------------   NAV   --------------------------------*/

nav{
    position: sticky;
    top: 0%;
    z-index: 1000;
    border-bottom: 3px solid black;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: 30px;
}

nav div .logo{
    margin-right: 150px;
}

nav div{
    background-color: beige;
    padding: 10px;
}

nav div ul{
    display: inline-block;
    list-style: none;
}

nav div ul li{
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
}


/* ------------------------------ MAIN ---------------------------------- */

.hero{
    position: relative;
    background-image: url('./img/pexels-vanessa-loring-7868892.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    width: 100vw;
}

.hero .contenido{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    padding: 20px;
}

.hero .contenido h1{
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px white;
}

.hero .contenido p{
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px white;
}

.hero .contenido .boton{
    background-color: chocolate;
    color: white;
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;
    font-size: 20px;
}

.tarjetas h2{
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.tarjeta {
    width: 45vw;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.tarjeta img {
    width: 100%;
    height: 350px;
    border-radius: 8px;
}

.tarjeta h2 {
    margin-top: 10px;
    font-size: 28px;
}

.tarjeta ul li{
    list-style-position: inside;
}

.tarjeta p {
    margin-top: 10px;
}

.tarjeta button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tarjeta button:hover {
    background-color: #0056b3;
}


.galeria{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px;
}

.grid-contenedor {
    height: 65vh;
    width: 65vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    grid-template-rows: repeat(3, 1fr); /* 3 filas */
    gap: 2px; /* Espacio entre las imágenes */
    border: 4px solid black;
}

.imagen {
    overflow: hidden; /* Para que las imágenes no se desborden */
}

.imagen img {
    width: 100%;
    height: 100%;
}

.imagen img:hover{
    width: 115%;
    height: 115%;
    transition: 1s;
}

/* ------------------------------ FOOTER ---------------------------------- */

footer{
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
    background-color: beige;
    border-top: 3px solid black;
}

footer a{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 35px;
    margin-right: 35px;

}































/* *{
    margin: 0;
    padding: 0;
    text-align: center;
}

nav div h1{
    font-size: 50px;
}

nav div ul li{
    display: inline-block;
    margin: 10px;
    font-size: 30px;
} */

/*---------------------------- MAIN ------------------------------------ */

.caja {
    width: 200px; /* Ancho fijo */
    height: 100px; /* Alto fijo */
    border: 2px solid black; /* Borde para visualizar la caja */
    overflow: scroll; /* Hace que el contenido desbordado sea visible */
}
.contenido {
    font-size: 30px; /* Tamaño de fuente grande para forzar el desbordamiento */
}
.adicional {
    font-size: 20px;
    color: red; /* Color para diferenciar el contenido adicional */
}

/* .hero{
    height: 40vw;
    background-image: url(./img/jugandorobot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */




/*---------------------------- FOOTER --------------------------------*/

/* footer img{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 60px;
    margin-bottom: 60px;
} */

